<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="HubAddress" value="192.168.77.3"/>
    <add key="HubSecret" value ="NoehAi7mFBgtpeXvmjIwsdyJrXHM+Fwz7qCzsGvYdc1ADDRimD4qs/cXREAuUEnN6Ry2Bm0Zvwcfy6xX7LGXPfndsZ8kgQPBYKgHUhYYSPtFfoc64v4G8hFDJy5yPzlY"/>
  </appSettings>
</configuration>
